<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ .Title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ relURL "/css/main.css" }}" />
		<link rel="stylesheet" href="{{ relURL "/css/project.css" }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="{{ relURL "/css/noscript.css" }}" /></noscript>
	</head>
	<!-- Scripts -->
			<script src="{{ relURL "/js/jquery.min.js" }}"></script>
	<body>
